
.messages {
    height: 15px;
}

.container {
  padding-left: 5px;
  padding-right: 5px;


  margin-top: 40px;
  min-height: fit-content;
  padding-top: 1em;
  height: 720px;
  width: 555px;
  text-align: center;
  border-radius: 10px;
  border-color: 1px solid black;
  -webkit-box-shadow: 0px 2px 8px 1px rgba(194,194,194,1);
  -moz-box-shadow: 0px 2px 8px 1px rgba(194,194,194,1);
  box-shadow: 0px 2px 8px 1px rgba(194,194,194,1);
}
.login-form-header-bg {
  display: flex;
  position: relative;
  flex-direction: column;
  top: -12px;
  width: 100%;
  height: 277px;
  border-radius: 10px;
  background-image: url("../../../assets/img/nav_logo.svg");
  background-size: cover;
}

.line-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-form-header-logo {

  display: flex;
  width: 180px;
  height: 105px;
  position: relative;
  top: 43px;
  background-image: url("../../../assets/img/logo_virtus.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.product-title {
  position: relative;
  text-align: center;
  color: white;
  padding-top: 0.2rem;
  width: 210px;
  height: 33px;
  margin-top: 10px;
  border: 2px solid white;
  border-radius: 100px;
}

.title {
  color: #A19CA9;
  margin-bottom: 10px;
  height: 30%;
}

.title h2 {
  font-size: small;
}

.form-group {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}

.form-group input {
  width: 70%;
  height: 50px;
  padding-left: 10px;
  background-color: #F5F4FC;
  border: none;
  border: 2px solid #F5F4FC;
}

button {
  background-image: linear-gradient(to right, #5C54C1, #327ADB);
  margin: 10px auto;
  display: block;
  color: white;
  border-radius: 25px;
  width: 260px;
  height: 55px;
  font-size: 13px;
  font-weight: bold;
  max-width: 260px;
  border-color: transparent;
}

button:hover {
    transform: scale(1.04);
}

@media screen and (max-width: 1024px){
  .container {
      width: 50vw;
  }

  .title {
      height: 20%;
  }
}


@media screen and (max-width: 700px) {
  .container {
      width: 90vw;
  }

  form button:hover {
      transform: none;
  }
}
