<div class="a">

<section class="introducao col-md-12">
  <div class="texto col-md-10">
    <h1>Planejamento puro e simples</h1>
  </div>
</section>
<section class="destaques col-md-12">
  <div class="titulo col-md-10">
    <h2>Destaques</h2>
  </div>
  <div class="cards col-md-10">
    <div class="card">
      <div class="imagem">
        <img src="../../assets/img/card.svg" alt="card" />
      </div>
      <div class="subtitulo">
        <h3>Planeje uma Sprint sem esforço</h3>
        <p>
          Usando a metodologia scrum, planeje as sprints do seu projeto e pontue
          suas user stories com seu time
        </p>
      </div>
    </div>
    <div class="card">
      <div class="imagem">
        <img src="../../assets/img/list.svg" alt="list" />
      </div>
      <div class="subtitulo">
        <h3>Crie retrospectivas</h3>
        <p>
          Após o final de cada Sprint crie sua retrospectiva, preencha suas
          listas compartilhe com os devs!
        </p>
      </div>
    </div>
    <div class="card">
      <div class="imagem">
        <img src="../../assets/img/coffee.svg" alt="coffee" />
      </div>
      <div class="subtitulo">
        <h3>Discuta com seu time</h3>
        <p>
          Faça estimativas como um especialista, discuta cada task com seu time
          e especialize-se na metodologia scrum
        </p>
      </div>
    </div>
  </div>
</section>

<section class="sobre col-md-12">
  <div class="titulo col-md-10">
    <h2>Sobre o scrum</h2>
  </div>
  <div class="scrum col-md-10">
    <div class="texto-scrum col-md-5">
      <p>
        Scrum é uma metodologia ágil para gerenciamento de projetos. Ela é
        baseada em ciclos de 15 dias chamados Sprints, onde se trabalha para
        alcançar objetivos bem definidos. Estes objetivos são representados no
        Product Backlog, uma lista de coisas para fazer que é constantemente
        atualizada e repriorizada.
      </p>
    </div>
    <div class="icone-scrum col-md-5">
      <img src="../../assets/img/scrum.svg" alt="scrum" />
    </div>
  </div>
</section>

<section class="turmalina col-md-12">
  <div class="titulo-turmalina col-md-10">
    <h2>Turmalina</h2>
  </div>
  <div class="turma col-md-10">
    <div class="descricao col-md-5">
      <p>
        Após a sprint planning, defina suas users stories, pontue suas tasks e
        designe o trabalho para cada desenvolvedor. Aplique todos os seus
        conhecimentos scrum
      </p>
    </div>
    <div class="acesso col-md-5">
      <button type="button" id="acesso-turmalina">Acesse o turmalina</button>
    </div>
  </div>
</section>
</div>