<div class="page flex">
  <div class="container">
    <div class="login-form-header-bg">
      <div class="line-flex">
        <span class="login-form-header-logo"></span>  
      </div>
      <div class="line-flex">
        <div class="product-title">PLANIT</div>
      </div>
      
    </div>
    <form class="flex" [formGroup]="confirmEmailForm" (submit)="onSubmit()" novalidate>
      <span class="title">Confirmar Email</span>
        <p>Informe o email da conta para que se possa ser enviado um e-mail para alteração de senha</p>
        <input placeholder="Email" [class.is-invalid]="isFormFieldInvalid('email')" formControlName="email" type="text">
        <div class="messages">
            <small class="text-danger" *ngIf="hasError('email', 'required')">*Campo obrigatório</small>
        </div>
        <button type="submit" [disabled]="!confirmEmailForm.valid">ENVIAR EMAIL</button>
    </form>
  </div>
</div>
