.container{
    display: block;
    padding-top: 35px;
  
    padding-left: 10%;
    width: 100%;
    max-width: 100%;
  }
  
  .badge {
    width: 56px;
    margin-bottom: 30px;
  }
  
  .pass {
    margin-bottom: 0px;
  }
  
  .comp-sub-hdr {
    width: 112px;
    height: 44px;
    margin-top: 35px;
    text-align: left;
    font: Bold 10px/31px Montserrat;
    letter-spacing: 1px;
    color: #384364;
    text-transform: uppercase;
    opacity: 0.4;
  }
  .comp-title {
    font: bold 21px/31px Montserrat;
    margin-bottom: 20px;
    color: #384364;
  }
  
  label {
    text-align: left;
    font: bold 12px/31px Montserrat;
    letter-spacing: 0px;
    color: #384364;
    opacity: 0.6;
  }
  
  input {
    display: block;
    width: 20%;
    height: 40px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background: #F5F4FC 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    border: transparent;
  }
  
  .messages {
    height: 15px;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
  }
  
  .form-group {
    width: 24%;
    min-width: 300px;
    margin-right: 6%;
  }
  
  .form-group > input {
    width: 100%;
  }
  
  .comp-buttons {
    display: flex;
    margin-top: 27px;
  }
  
  .btn-add {
    width: 140px;
    height: 46px;
    margin-right: 20px;
    text-align: center;
    font: Bold 11px/11px Montserrat;
    letter-spacing: 0.28px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    background: #0BB4D4 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    border: transparent;
  }
  
  .btn-cancel {
    width: 140px;
    height: 46px;
    text-align: center;
    font: Bold 11px/11px Montserrat;
    letter-spacing: 0.28px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    background: #878787 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    border: transparent;
  }
  
  .us-list-conteiner {
    margin-top: 34px;
  }
  
  .alert-box {
    width: 921px;
    height: 46px;
    text-align: left;
    font: Bold 11px/31px Montserrat;
    letter-spacing: 0px;
    color: #384364;
    opacity: 1;
  
    padding: 0.45rem 1.25rem;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    opacity: 1;
  }
  
  .table-row{
    width: 880px;
  }
  
  
  .spacer-btn {
    margin-right: 21px;
  }
  
  .btn-us-list {
    width: 30px;
    height: 30px;
    background: #F5F6FA 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 30px;
    border: transparent;
  }
  
  .read-only-text {
    display: block;
    width: 100%;
    height: 108px;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background: #F5F4FC 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    border: transparent;
  }
  
  .points-label {
    margin-top: 15px;
    text-align: left;
    font: bold 12px/31px Montserrat;
    letter-spacing: 0px;
    color: #384364;
    opacity: 0.6;
  }
  
  .points {
    display: inline;
    margin-left: 5px;
    font: bolder 12px/31px Montserrat;
  }
  
  .modal-input {
    display: block;
    width: 100%;
    height: 40px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background: #F5F4FC 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    border: transparent;
  }
  
  .modal-text-area {
    display: block;
    width: 100%;
    height: 108px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background: #F5F4FC 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    border: transparent;
  }
  
  .buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 10%;
  }
  
  
  @media (max-width: 1000px) {
    .conteiner{
      margin-left: 10px;
      margin-right: 10px;
    }
  
    #btn-save-close {
      margin-right: 0px;
    }
  
    .input {
        width: 100%
    }
  
    .text-area {
      width: 100%
    }
  
    .alert-box {
      width: 100%
    }
  
    .table-row{
      width: 100%;
    }
  }
  
  @media (max-width: 500px) {
    .conteiner{
      margin-left: 7px;
      margin-right: 7px;
    }
  
    #btn-save-close {
      margin-right: 0px;
    }
  
    .input {
        width: 90%
    }
  
    .text-area {
      width: 100%
    }
  
    .alert-box {
      width: 100%
    }
  
    .table-row{
      width: 100%;
    }
  
    .buttons{
      padding-left: 0%;
      justify-content: center;
    }
  }
  